.nav {
	position: sticky;
	top: 0;
	left: 0;
	z-index: 5;
	transition: 0.5s all;
	&__wrapper {
		margin: 0 auto;
		max-width: 50rem;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__items {
		&::after {
			content: '';
			display: block;
			margin: auto;
			height: 3px;
			width: 0px;
			background: transparent;
			transition: width 0.5s ease, background-color 0.5s ease;
		}

		&:hover::after {
			width: 100%;
			background: $color-primary;
		}
	}

	&__items a {
		color: $color-white;
		text-transform: uppercase;
		font-family: $header-1;
		font-size: 2rem;
		font-weight: 700;
		transition: 0.5s all;
		padding: 2.5rem 0;

		&:hover {
			color: $color-primary;
		}
	}
}

.nav__scrolled {
	background-color: $color-white;
	box-shadow: $shadow-nav;
	& a {
		color: $color-secondary;
	}
}
