.food {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	&__large {
		margin: 0rem auto 8rem;
		max-width: 130rem;
	}

	&__card {
		max-width: 38rem;
		border-radius: 1rem;
		margin: 0 2rem;
		margin-bottom: 4rem;
		transition: all 1s;
		border: 1px solid rgba($color-grey-light, 0.4);
	}

	&__img {
		width: 100%;
		padding: 1rem;
		margin-top: -5rem;
		transition: 1s all;
	}

	&__title {
		padding: 2rem 0 0;
		text-align: center;
		font-family: $header-1;
		font-size: 2.4rem;
		color: $color-black;
		text-transform: uppercase;
		margin-bottom: 0.5rem;
		min-height: 5rem;
		line-height: 3rem;
		transition: 1s all;
	}

	.special {
		display: block;
		font-family: $header-1;
		font-size: 5rem;
		margin: 1rem 0;
		line-height: 4rem;
	}

	&__desc {
		font-family: $content-1;
		padding: 2rem;
		color: $color-black;
		font-size: 2rem;
		min-height: 22rem;
		transition: 1s all;
	}

	&__price {
		text-align: center;
		font-family: $header-1;
		font-size: 3rem;
		color: $color-black;
		margin-bottom: 1rem;
		margin-top: -8rem;
	}
}

.food__card:hover {
	transform: translateY(-1rem) scale(0.95);
	background: $color-primary;
	box-shadow: $shadow-card;

	h3 {
		color: $color-white;
	}

	p {
		color: $color-white;
	}

	img {
		transform: scale(1.2);
	}
}
