:root {
	scroll-behavior: smooth;
}

html {
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-size: 1.6rem;
	background-color: $color-white;
	border-left: 1.5rem solid $color-primary;
	border-right: 1.5rem solid $color-primary;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
}
