// COLOR
$color-primary: #e4091d;
$color-secondary: #261c13;
$color-white: #f8fffd;

// FONT
$header-1: 'Gotham', Helvetica, Arial, sans-serif;
$header-2: 'Futura', 'Helvetica Neue', Helvetica, Arial;
$content-1: 'Gotham', Helvetica, Arial, sans-serif;
$content-2: 'Futura', 'Helvetica Neue', Helvetica, Arial;
